.node {
  fill: white;
  stroke: black;
}

.d3-tip {
  background: #fff;
  font-family: sans-serif;
  font-size: 12px;
  padding: 8px;
  border-radius: 15px;
  border: 2px solid #0f6db4;
  width: 165px;
}
